"""
lumberjack.py
A plugin that will call a function whenever an agent checks in

INSTALLATION:
    cp lumberjack.py empire/plugins

USAGE (In empire):
    plugin lumberjack
"""

import datetime
import requests
import functools
from lib.common.plugins import Plugin
from lib.common.plugins import Plugin
import lib.common.helpers as helpers


class Plugin(Plugin):
    description = "A plugin to feed session checkins to the pwnboard and Sawmill"

    def onLoad(self):
        """
        init variables at start
        """
        self.mainMenu = None
        self.pwnboard = "{{ server }}/generic"
        self.sawmill = None
        self.cache = {}
        self.cacheTime = 60

    def register(self, mainMenu):
        """ any modifications to the mainMenu go here - e.g.
        registering functions to be run by user commands """
        mainMenu.__class__.do_pwnboard_cache = self.do_pwnboard_cache
        mainMenu.__class__.do_pwnboard_url = self.do_pwnboard_url
        self.mainMenu = mainMenu  # Save this object for later

        # Make the agent checkin call our agent checkin first
        mainMenu.agents.update_agent_lastseen_db = self.wrapper(
            mainMenu.agents.update_agent_lastseen_db,
            self.hook_agent_lastseen_db
        )
        if not self.pwnboard:
            self.activeBoard=False
            print("Warning: PwnBoard URL not set...")
            print("Use function `pwnboard_url <URL>`")
        else:
            self.activeBoard=True


    def hook_agent_lastseen_db(self, sessionID):
        """Function hook for agents.update_..._db() that will let us know
        when agents check in"""
        if not self.activeBoard:
            return
        session_data = self.mainMenu.agents.get_agent_db(sessionID)  # Get the session info
        ips = []
        ips += [session_data['internal_ip'].split()[0]]
        # ips += [session_data['external_ip'].split()[0]]  # Use this if you need a different IP

        self.update_pwnboard(ips, name="empire")

    def wrapper(self, func, func2):
        """
        wraps func with func2
        """
        @functools.wraps(func)
        def wrap(*args, **kwargs):
            func2(*args, **kwargs)
            return func(*args, **kwargs)
        return wrap

    def update_pwnboard(self, ips, name="python"):
        """
        Upstream callback IP to the pwnboard
        """
        ip = ips.pop()
        # See if we have cached for this IP
        if ip in self.cache:
            # If the cache is older than the cacheTime, then update
            if (datetime.datetime.now() - self.cache[ip]).total_seconds() < self.cacheTime:
                # We dont need to update
                return
        self.cache[ip] = datetime.datetime.now()

        host = self.pwnboard
        data = {'ips': ips, 'type': name}
        try:
            req = requests.post(host, json=data, timeout=3)
            return True
        except Exception as E:
            return False

    def do_pwnboard_url(self, args):
        """Set the pwnboard URL"""
        print("Current Pwnboard URL: {}".format(self.pwnboard))
        argArr = args.split(" ")
        def usage():
            print("USAGE: `pwnboard_url <URL>`")
            return False
        if not args.strip():
            return usage()
        if len(argArr) != 1:
            return usage()
        if argArr[0].endswith("help"):
            return usage()
        if not argArr[0].startswith("http://") and \
            not argArr[0].startswith("https://"):
            argArr[0] = "http://" + argArr[0]
        self.pwnboard=argArr[0]
        self.activeBoard = True
        return True


    def do_pwnboard_cache(self, args):
        """Set the pwnboard cache time"""
        argArr = args.split(" ")
        def usage():
            print("Current Cache Time: {}".format(self.cacheTime))
            print("USAGE: `pwnboard_cache <SECONDS>`")
            return False

        if len(argArr) != 1:
            return usage()
        if argArr[0].endswith("help"):
            return usage()
        try:
            self.cacheTime = int(argArr[0])
            return True
        except ValueError:
            return usage()
