#!/usr/bin/env python3
'''
Basic python3 function that sends an update to the pwnboard
'''
import requests
import json
import sys


def sendUpdate(ips, name="python"):
    host = "{{ server }}/generic"
    # Here ips is a list of IP addresses to update
    # If we are only updating 1 IP, use "ip" and pass a string
    data = {'ips': ips, 'type': name}
    try:
        req = requests.post(host, json=data, timeout=3)
        print(req.text)
        return True
    except Exception as E:
        print(E)
        return False

if __name__ == '__main__':
    if len(sys.argv) > 1:
        ips = sys.argv[1:]
    else:
        print("USAGE: {} [ips...]".format(sys.argv[0]))

    name = "python"
    sendUpdate(ips, name)
